*{
    box-sizing: border-box;
    margin: auto;
}
body{
    /*max-width: 1000px;*/
    color: rgb(0, 0, 0);
    background-color: rgb(186, 186, 197);
    /*text-align: center;*/
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    background-color: #fa8a31;
    padding: 10px;
    border-radius: 10px;
}
.required:after {
    content: " *";
    color: red;
}

.alert.alert-success{
    color: green;
}

.alert.alert-danger{
    color: red;
}