*{
    box-sizing: border-box;
    margin: auto;
}
body{
    /*max-width: 1000px;*/
    color: rgb(0, 0, 0);
    background-color: rgb(186, 186, 197);
    display: block;
    /*text-align: center;*/
}

header ul{
    display: flex;
    justify-content: space-evenly;
    background-color: #3177fa;
    padding: 10px;
}
.required:after {
    content: " *";
    color: red;

}
nav ul {
    display: flex;
    justify-content: center;
}

.alert.alert-success{
    color: green;
}

.alert.alert-danger{
    color: red;
}
.container-card1{
    display: flex;
    margin: 50px;
}
.container-card2{
    display: flex;
    margin: 30px;
}
.footer{
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    background-color: #314cfa;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.footer ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    width: 66%;

}
