{% extends 'base.html.twig' %}

{% block title %}Modifier le Devis{% endblock %}

{% block body %}
    <h1 class="badge bg-info">Modifier le Devis</h1><br>

    {% if devi.getMembre %}
        <p class="badge bg-success">{{ devi.getMembre.getUserIdentifier() }}</p>
    {% endif %}

    {{ include('devis/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_devis_index') }}" class="btn btn-secondary">back to list</a>

    {{ include('devis/_delete_form.html.twig') }}
{% endblock %}
