{% extends 'base.html.twig' %}

{% block title %}New Devis{% endblock %}

{% block body %}
    <h1>Demandez votre Devis</h1>
    <button type="button" class="btn">Enregistrer</button>

    {{ include('devis/_form.html.twig') }}


    <a href="{{ path('app_devis_index') }}">Back to list</a>
{% endblock %}
