{% extends 'base.html.twig' %}

{% block title %}Nouveau Devis{% endblock %}

{% block body %}
    <h1 class="badge bg-info">Demandez votre Devis</h1>
    {{ include('devis/_form.html.twig') }}
    <a href="{{ path('app_devis_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
