@import 'bootstrap';

* {
  box-sizing: border-box;
  margin: auto;
}
ul {
  margin-bottom: 0;
}
body {
  background-size: cover;
  display: block;
}

#container {
  z-index: -1;
  // background-image: url('/assets/images/TGEE1.jpg');
  background-repeat: no-repeat;
  // background-size: cover;
}

.logo {
  max-width: 80px;
  border: solid 1px #d2d2d2;
  border-radius: 10px;
  padding: 5px 5px;
}

li {
  list-style: none;
}

h5 {
  border: solid 1px #d2d2d2;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #0dcaf0;
}

.required:not(.radio):after {
  content: "*";
  color: red;
}

.alert.alert-success {
  color: green;
}

.alert.alert-danger {
  color: red;
}

#header {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  padding: 15px;
  align-items: center;

}

.header-left {
  margin-left: initial;
}
.header-right {
  margin-right: initial;
}

#nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  border: solid 1px #d2d2d2;
  padding: 0;
}

#nav ul li {
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
}

.hero {
  padding: 200px 100px;
  z-index: -1;
  background-image: url('/assets/images/TGEE1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
#main {
  display: flex;
  min-height:400px;
  position:relative;
  // z-index: -1;
  background-image: url('/assets/images/telephone.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom:100px;   /* Hauteur du pied de page */
}

.form-contact {
  width: 40%;
  background-color: blueviolet;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}

.radio {
  border: solid 1px #d2d2d2;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #0dcaf0;

}

.client-type {
  border: solid 1px #d2d2d2;
  padding: 20px 50px;
  border-radius: 10px;
  margin: 50px;
}

.service-type {
  border: solid 1px #d2d2d2;
  padding: 20px 50px;
  border-radius: 10px;
  margin: 50px;
}

.select-type {
  display: flex;
}

.expediteur {
  border: solid 1px #d2d2d2;
  padding: 20px 50px;
  border-radius: 10px;
  margin: auto;
}

.destinataire {
  border: solid 1px #d2d2d2;
  padding: 20px 50px;
  border-radius: 10px;
  margin: auto;
}

.trajet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 20px;
}

.marchandise {
  border: solid 1px #d2d2d2;
  padding: 0px 50px;
  border-radius: 10px;
  margin: 20px 0;
}

.info-marchandise {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.add_item_link {
  border: solid 1px #d2d2d2;
  border-radius: 10px;
}

.coordonnees {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0;

}

.form-coordonnees {
  border: solid 1px #d2d2d2;
  padding: 10px 20px;
  border-radius: 10px;
}

.button-envoyer {
  text-align: center;
}

.devis-form {
  margin-bottom: 72px;
}

#footer {
  bottom: 0;
  position: absolute;
  display: contents;
}

#footer ul {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  padding: 5px;
}
