@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-size: cover;
  display: block;
}

#container {
  background-repeat: no-repeat;
}

.logo {
  max-width: 80px;
  border: solid 1px #d2d2d2;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: #c9ad86;

}
.logo img {
  background-color: #c9ad86;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  gap: 10;
}
i,a {
  color: white;
}

h5 {
  border: solid 1px #d2d2d2;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #0dcaf0;
}

.required:not(.radio):after {
  content: "*";
  color: red;
}

.alert.alert-success {
  color: green;
}

.alert.alert-danger {
  color: red;
}

.header {
  display: flex;
  background-color: #94245c;
  height: 60px;
}

.header-left ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.hero {
  height: 600px;
  background-position: bottom;
  background-image: url('/assets/images/TGEE1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.hero-text {
  border: solid 1px;
  display: contents;
  background-color: #94245c;
  padding: 5PX;
}
.devis-a {
  text-decoration: none;
  position: absolute;
  top: 300px;
  left: 100px;
  background-color: #94245c;
  color: white;
  padding: 10px;
  border-radius: 10px;

}

.societe {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
}
.societe-text{
  padding: 30px;
  flex: 2;
}
.societe-img{
  flex: auto;
}
.services {
  display: flex;
  background-image: url('/public/build/images/telephone.7306e488.jpg');
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.services-img {
  padding: 30px;
  flex: 2;
}

.services-text {
  padding: 30px;
  flex: auto;
}

.contact {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
}

.contact-1 {
padding: 30px;
flex: 2;
}

.contact-form {
  background-color: #94245c;
  padding: 50px;
  border-radius: 10px;
  flex: auto;
}

.radio {
  border: solid 1px #d2d2d2;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #0dcaf0;

}

.client-type {
  border: solid 1px #d2d2d2;
  padding: 20px 50px;
  border-radius: 10px;
  margin: 50px;
}

.service-type {
  border: solid 1px #d2d2d2;
  padding: 20px 50px;
  border-radius: 10px;
  margin: 50px;
}

.select-type {
  display: flex;
}

.expediteur {
  border: solid 1px #d2d2d2;
  padding: 20px 50px;
  border-radius: 10px;
  margin: auto;
}

.destinataire {
  border: solid 1px #d2d2d2;
  padding: 20px 50px;
  border-radius: 10px;
  margin: auto;
}

.trajet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 20px;
}

.marchandise {
  border: solid 1px #d2d2d2;
  padding: 0px 50px;
  border-radius: 10px;
  margin: 20px 0;
}

.info-marchandise {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.add_item_link {
  border: solid 1px #d2d2d2;
  border-radius: 10px;
}

.coordonnees {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0;

}

.form-coordonnees {
  border: solid 1px #d2d2d2;
  padding: 10px 20px;
  border-radius: 10px;
}

.button-envoyer {
  text-align: center;
}

.devis-form {
  margin-bottom: 72px;
}

// #map { 
//   height: 300px;
//   width: -webkit-fill-available; 
// }
.map {
  padding: 15px;
}

#footer {
  background-color: #94245c;
  height: 150px;
}
.footer-2{ 
  display: flex;
  padding: 10px;
}
.footer-3 {
  text-align: center;
  padding: 10px;
}
#footer ul {
  display: flex;
  padding: 5px;
  gap: 20px;
}
