<h2>Bravo ! </h2><br>
<p>Vous êtes inscrit !!</p><br>
<p>Vous avez 1 heure pour activer votre compte en
    <a href="{{ absolute_url(path('app_verify_email' , {'token': token}) )}}">cliquant içi</a></p>
