<h2>Bravo ! </h2><br>
<p>Vous êtes inscrit !!</p><br>
<p>Vous activer votre compte en
    <a href="{{ absolute_url(path('app_verify_email' , {'token': token}) )}}">cliquant içi</a>
    <p>(ce lien est valable 1 heure)</p>
</p>