{% extends 'base.html.twig' %}

{% block title %}Nouveau{% endblock %}

{% block body %}
    <h1 class="badge bg-info">Destinataire</h1>
    {{ include('destinataire/_form.html.twig') }}
    <a href="{{ path('app_destinataire_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
